.nav-bar-div{
  display: grid;
  grid-template-columns: 20% auto auto auto;
}

.search-bar{
  padding-top: 6px;
}
.search-icon{
  position: relative;
  min-width: 300px;
}

.search-bar-fix{
  display: inline-flex;
}
.search-dropdown{
  display: inline-block;
}

.search-dropdown a{
  text-decoration: none;
}
