img {
  max-width: 190px;
  height: 190px;
}
.order-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.content {
  background-color: azure;
  max-width: 243px;
  max-height: 413px;
  box-sizing: border-box;
  background: rgba(185, 178, 178, 0.151);
  margin: 10px 0 0 70px;
  padding: 10px;
}

.short-description {
  width: 100%;
  display: right;
  text-align: center;
  margin: 0 0 0 10px;
}
.picture {
  text-align: left;
}
.product-list {
  overflow: auto;
}
