.order-details{
  max-width: 65vw;
  /* margin: 0 auto; */
  /* text-align: center; */
  background:  #fff;
  padding: 20px;
  margin-bottom: 1em;
}
.product-details{
  display: grid;
  grid-template-columns: 15% auto 10% ;
  grid-gap: 50px;

}

.order-address{
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 50px;
}