.bookmarked-item{
  max-width: 50vw;
  padding: 20px;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 10% auto 10% 20%;
  grid-column-gap: 10px;
  background-color: #fff
}

.bookmarked-item-content{
  padding-left: 13vw;
  /* margin:0 auto; */
}

.order-item{
  max-width: 40vw;
  padding: 20px;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 70% auto;
  grid-column-gap: 40px;
  background-color: #fff
}

.order-history-quantity{
  margin: 0 auto;
}
