.nav_bar {
  padding: 10px;
  background: rgb(0, 195, 255);
  background-blend-mode: lighten;
  /* background-color:  rgba(185, 178, 178, 0.151); */
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.nav_bar ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0px 30px;
}
.nav_bar ul li a {
  text-decoration: none;
  color: white;
}
.nav_bar ul li a:hover {
  color: #c1c1c1;
}
