img {
  max-width: 190px;
  height: 190px;
}
.content {
  background-color: green;
  max-width: 243px;
  max-height: 413px;
  box-sizing: border-box;
  /* background: rgba(185, 178, 178, 0.151); */
  margin: 10px 0 0 70px;
  padding: 10px;
  margin: 0 auto;
  /* justify-content: center; */
}

.short-description {
  width: 100%;
  display: right;
  text-align: center;
  /* margin: 0 0 0 10px; */
}
.picture {
  text-align: center;
}
.product-list {
  /* margin-top: 35vh; */
  background-color: aquamarine;
  padding-top: 25vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
